@import 'Common';

#architecture-container {
    height: auto;
    @include margin(50px, 0, 0, 0);
    #diagram-container {
        grid-area: diagram;
        background-color: #fff;
        border-radius: 10px;
        position: relative;
        height: 100vh;
    
        #diagram-header {
            h3 {
                text-align: center;
            }
        }

        #diagram-wrapper {
            @include dimension(100%, 100%);
        }
    }
}
