#diagram-container {
    grid-area: diagram;
    background-color: #fff;
    border-radius: 10px;
    position: relative;

    #diagram-wrapper {
        display: flex;
        justify-content: flex-start;
        color: black;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        width: 100%;
        height: 100%;
    }
}