path {
    stroke: grey;
    stroke-width: 1;
    fill: none;
    marker-end: url(#arrow-marker);

    .hide {
        display: none;
    }
}

@media (min-width: 768px) {
    path {       
        stroke-width: 2;
    }
}